h1 {
    background-color: yellowgreen;
    height: 125px;
    width: 100%;
    color: red;
    margin: auto;
    
}

body {
    background-image: url("https://github.com/triathao/Weather_Dashboard/blob/master/Assets/wayne-low-kJNOYBetxh0-unsplash.jpg?raw=true");
    background-repeat: no-repeat;
    background-size: 1200px;
   }

img {
    width: 200px;
    padding: 25px;
}

.topnav {
    overflow: hidden;
    background-color: #47f4f7;
  }